body {
 background-color: #d5def5;	
}

.content {
	font-family: 'Roboto', sans-serif;
	max-width: 1200px;
	margin: auto;
}

.contact-table {
	width: 70%;
	border-radius: 0.9em;
	border-collapse: collapse;
	overflow: hidden;
	background-color: #fff;
}

.contact-table-menu {
	font-weight: bold;
	font-size: 18px;
	background-color: #430f58;
	color: #FFF;
}

.contact-new {
	background-color: #3e4a61;
}

.legend-add {
	border-radius: 8px;
}

.button-add {
	border-radius: 8px;
}

td, th {
	/*text-align: left;*/
	vertical-align: bottom;
	border: 2px solid #DDDDDD;
	padding: 7px;
}

tr:nth-child(even) {
	background-color: #ffcdcd;
}
